main {
  flex-grow: 1;
}

h3 {
  text-align: center;
}

section {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

img {
  border: groove black 5px;
}

@media screen and (max-width: 600px) {
  h3 {
    font-size: 30px;
    text-align: center;
  }

  img {
    width: 200px;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    font-size: 20px;
  }
}
