#navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(79, 79, 79);
  border-radius: 5px;
  text-align: center;
  padding-top: 0.5px;
}

#navbar p {
  margin: 3px;
  text-transform: uppercase;
  color: white;
}

#navbar ul {
  margin: 1px;
  gap: 5px;
  font-size: 17px;
}

#navbar a {
  text-decoration: none;
  color: white;
}

#navbar a:hover {
  color: rgb(0, 0, 0);
}

.project {
  border-style: double;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  background-color: black;
  color: white;
  padding: 1px;
}

section {
  border: 2px black groove;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
